<div class="container-grid pagedivider-up bluegreen-beige"></div>
  <div class="container-grid sektion2-tl">
    <div class="container-grid sektion2-content">
      <article class="container-grid sektion2-text" [innerHtml]="htmlPageData[0]?.acf.content">

      </article>
      <div class="container-grid container-3" [innerHtml]="htmlPageData[0]?.acf.rubrik" >
      </div>
    </div>
  </div>
  <div class="container-grid pagedivider-up beige-beige"></div>

  <div class="container-grid container-4 beige">
    <div class="container-grid container-5">
      <h1 class="bigbig big" [innerHtml]="htmlPageData[0]?.acf.rubrik_item1"></h1>
      <div class="container-grid two-col-tl">
        <a href="" class="link-container link-container-1">
          <div class="container-grid" [innerHtml]="htmlPageData[0]?.acf.content_item1">
          </div>
          <div class="container-grid container-6">
            <div class="rule rule-1">
              <hr>
            </div>
            <div class="container-grid container-7"></div>
          </div>
        </a>
        <a href="" class="link-container link-container-1">
          <div class="container-grid" [innerHtml]="htmlPageData[0]?.acf.content_item2">
          </div>
          <div class="container-grid container-6">
            <div class="rule rule-1">
              <hr>
            </div>
            <div class="container-grid container-7"></div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="container-grid pagedivider-up beige"></div>
  <div class="container-grid container-4 sek3-tl">
    <div class="container-grid container-5">
      <h1 class="bigbig white bigbigbig">Guide<br></h1>
      <div class="container-grid two-col-tl"><a href="" class="link-container link-container-1">
          <div class="container-grid">
            <h2 class="h2-bold white">Guidens innehåll</h2>
            <p class="paragraph p-std white">Guiden är uppbyggd som en färdplan. Den innehåller fakta och praktiska moment som <br>arbetsblad, råd, framgångs­faktorer, fallstudier, åsikter och intervjuer.</p>
          </div>
          <div class="container-grid container-6">
            <div class="rule rule-1">
              <hr>
            </div>
            <div class="container-grid container-7"></div>
          </div>
        </a><a href="" class="link-container link-container-1">
          <div class="container-grid">
            <h2 class="h2-bold white">Planera färden<br></h2>
            <p class="paragraph p-std white">Guiden är indelad i nio frågeområden. Genom att gå igenom dem skapar ni er egen publik­utvecklingsplan. </p>
          </div>
          <div class="container-grid container-6">
            <div class="rule rule-1">
              <hr>
            </div>
            <div class="container-grid container-7"></div>
          </div>
        </a><a href="" class="link-container link-container-1">
          <div class="container-grid">
            <h2 class="h2-bold white">Starta resan<br></h2>
            <p class="paragraph p-std white">Med hjälp av guiden kan ni skapa en publikutvecklingsplan för hela organisationen såväl som för mindre projekt.</p>
          </div>
          <div class="container-grid container-6">
            <div class="rule rule-1">
              <hr>
            </div>
            <div class="container-grid container-7"></div>
          </div>
        </a></div>
    </div>
  </div>

  <div class="container-grid citat-tl">
    <div class="container-grid container-12">
      <div class="responsive-picture picture-1">
        <picture>
          <img alt="Placeholder Picture" width="2720" height="1904" src="./../../../assets/ad/Citat-lila.png" loading="lazy">
        </picture>
      </div>
      <div class="container-grid container-13" [innerHtml]="htmlPageData[0]?.acf.content_item3">
      </div>
    </div>
  </div>
  <div class="container-grid container-4 grey">
    <div class="container-grid container-5">
      <h1 class="bigbig big white" [innerHtml]="htmlPageData[0]?.acf.rubrik_item4"></h1>
      <div class="container-grid two-col-tl">
        <a href="" class="link-container link-container-1">
          <div class="container-grid" [innerHtml]="htmlPageData[0]?.acf.content_item4">
          </div>
          <div class="container-grid container-6">
            <div class="rule rule-1 white">
              <hr>
            </div>
            <div class="container-grid container-7 white"></div>
          </div>
        </a>
        <a href="" class="link-container link-container-1">
          <div class="container-grid" [innerHtml]="htmlPageData[0]?.acf.content_item5">
          </div>
          <div class="container-grid container-6">
            <div class="rule rule-1 white">
              <hr>
            </div>
            <div class="container-grid container-7 white"></div>
          </div>
        </a></div>
    </div>
  </div>
