<app-scroll-to-top></app-scroll-to-top>
<footer class="container-grid footer">
  <div class="container-grid container-8"><a href="mailto:johanna.hagerius@vgregion.se" class="link-container link-container-3">
      <p class="paragraph p-std white footer">Kontakt<br>Johanna Hagerius<br>konsulent publikutveckling</p>
    </a>
    <div class="container-grid container-10"></div>
    <div class="container-grid container-11"><a href="referenser.html" class="link-container link-container-2 footer" title="Referenser">
        <p class="paragraph p-std white">Referenser</p>
      </a><a href="http://www.repub.se" class="link-container link-container-2 footer" target="_blank">
        <p class="paragraph p-std white footer">repub.se</p>
      </a></div>
  </div>
  <div class="container-grid container-9 text-left"></div>
  {{devversion}}
</footer>
